@namespace BlazorApp.Components

<div class="anchorage-container">
    <div class="anchorage-grid"
         @ref="gridElement"
         style="grid-template-columns: repeat(@AnchorageWidth, 1fr); grid-template-rows: repeat(@AnchorageHeight, 1fr);"
         id="@GridElementId">
        @foreach (var cell in GridCells)
        {
            <div class="grid-cell drop-zone"
                 data-x="@cell.X"
                 data-y="@cell.Y"
                 data-grid-x="@cell.X"
                 data-grid-y="@cell.Y">
            </div>
        }

        @foreach (var vessel in PlacedVessels)
        {
            <div class="placed-vessel"
                 style="@GetVesselGridStyle(vessel)"
                 @onclick="@(() => HandleVesselClick(vessel.Id))">
                <div class="vessel-content">
                    <VesselIcon
                        Width="@vessel.EffectiveWidth"
                        Height="@vessel.EffectiveHeight" />
                </div>
            </div>
        }
    </div>
</div>

<div class="mt-2">
    <small class="text-muted">Click on a placed vessel to remove it</small>
</div>

