@page "/"

<PageTitle>Vessel Placement</PageTitle>

<div class="container-fluid p-4">
    @if (IsLoading)
    {
        <LoadingSpinner Message="Loading fleet data..." />
    }
    else if (FleetData == null)
    {
        <ErrorDisplay 
            Message="Failed to load fleet data. Please try again." 
            OnRetry="LoadFleetData" />
    }
    else
    {
        <div class="row">
            <!-- Anchorage Area -->
            <div class="col-lg-6 mb-4">
                <h3 class="mb-3">Anchorage</h3>
                <AnchorageGrid 
                    @ref="anchorageGridRef"
                    AnchorageWidth="@FleetData.AnchorageSize.Width"
                    AnchorageHeight="@FleetData.AnchorageSize.Height"
                    PlacedVessels="@PlacedVessels"
                    OnVesselPlaced="HandleVesselPlaced"
                    OnVesselRemoved="HandleVesselRemoved" />
            </div>

            <!-- Vessel Staging Area -->
            <div class="col-lg-6">
                @if (IsComplete)
                {
                    <CompletionMessage OnReset="ResetAndLoadNewFleet" />
                }
                else
                {
                    <VesselList 
                        AvailableVessels="@AvailableVessels"
                        AnchorageWidth="@FleetData.AnchorageSize.Width"
                        AnchorageHeight="@FleetData.AnchorageSize.Height"
                        GridElementId="@GridElementId"
                        OnVesselRotate="HandleVesselRotate" />

                    <VesselStatusPanel AvailableVessels="@AvailableVessels" />

                    <button class="btn btn-secondary mt-3 w-100" @onclick="ResetAndLoadNewFleet">
                        Try again!
                    </button>
                }
            </div>
        </div>
    }
</div>


