@namespace BlazorApp.Components

<div class="draggable-vessel vessel-card"
     draggable="true"
     @ondblclick="HandleDoubleClick"
     @ref="vesselElement"
     data-vessel-id="@Vessel.Id"
     title="@TooltipText"
     style="@VesselCardStyle">
    <VesselIcon
        Width="@Vessel.EffectiveWidth"
        Height="@Vessel.EffectiveHeight" />
</div>

